body{
    background-color:  #1859e6;;
}
.intro{
    color: white;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2rem;
    margin-left: 1rem;
    text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: 20%;
  }
  
  .sign1{
    margin-top: 0.6rem;
    margin-right: 5rem;
    background-color: #000000;
    color: rgb(255, 255, 255);
    margin-right: 4rem;
    font-size: .7rem;
    width: 8rem;
    height: 2.0rem;
    border: 2px solid rgb(2, 2, 2);
    box-shadow: inset 0 0 0 0 rgb(68, 68, 68);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    font-weight: 700;
  }
  .sign1:hover{
    box-shadow: inset 400px 0 0 0 rgb(255, 255, 255);
    color: #000000;
    font-weight: 700;
  
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color: #dddddd;
  }

  tr:nth-child(even) {
    background-color: #fff;
    color: black;
  }


  .sign1{
    margin-top: 0rem;
    background-color: #000000;
    color: rgb(247, 247, 247);
    margin-left: 2rem;
    margin-right: -3rem;
    font-size: .9rem;
    width: 5rem;
    height: 1.7rem;
    border: 2px solid rgb(2, 2, 2);
    box-shadow: inset 0 0 0 0 rgb(68, 68, 68);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    font-weight: 700;
  }
  .sign1:hover{
    box-shadow: inset 400px 0 0 0 rgb(255, 255, 255);
    color: #000000;
    font-weight: 700;
  
  }