<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='viewqueries.css')}}">
    </head>
    <body>
        <div class="intro">
            The jobs that you applied that has not been responded yet.
        </div>
        <div style="width:100%;margin-left:8rem;"><a href="student"> <button class="sign1">Back</button> </a></div>
        <br><br><br>
        <table>
            <tr style="color: black;">
              <th>Company</th>
              <th>Job</th>
              <th>Role</th>
              <th>Skill</th>
              <th>Salary</th>
              <th>Experience</th>
              <th>CANCEL APPLICATION</th>
            </tr>
            {%for job in jobs%}
            <tr>
              <td>{{job.company.Name}}</td>
              <td>{{job.job_name}}</td>
              <td>{{job.job_role}}</td>
              <td>{{job.skills_required}}</td>
              <td>{{job.salary}}</td>
              <td>{{job.experience}}</td>
              <td><a href='delete/{{job.id}}'><button class="sign1">Cancel</button></a></td>
            </tr>
            {%endfor%}
          </table>
    </body>
</html>